
/* Los estilos críticos para el viewport inicial */
/* ENCABEZADO */
.header {
  transition: transform 0.3s ease-in-out;
}

.header.hidden {
  transform: translateY(-100%);
}

.headerMobile {
  display: flex;
}

@media (min-width: 768px) {
  .headerMobile {
    display: none;
  }
}

.headerEscritorio {
  display: none;
}

@media (min-width: 768px) {
  .headerEscritorio {
    display: flex;
  }
}

.headerPlaceholder {
  transition: height 0.3s ease;
}

.burger {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 25px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  align-items: center;
  margin: auto 15px;
}

@media (max-width: 767px) {
  .burger {
    opacity: 1;
    visibility: visible;
  }
}

.burger .burgerLine {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 15px;
  background: #fff;
}

.burger .burgerLine:nth-child(1) {
  top: 0px;
}

.burger .burgerLine:nth-child(2) {
  top: 8px;
  width: 70%;
}

.burger .burgerLine:nth-child(3) {
  top: 16px;
}

/* SUBTÍTULO */
.rotatingText {
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
  overflow: visible;
  vertical-align: top;
  min-width: 250px;
}

@media (max-width: 768px) {  
  .rotatingText {
    justify-content: end;
    height: 45px;
    min-width: 282px;
  }
}

.rotatingText span {
  display: block;
  position: absolute;
  white-space: nowrap;
  color: #000000;
  font-weight: 600;
  opacity: 0;
  transform: translateX(-100px);
  animation: rotateWord 4.5s linear infinite;
}

/* CARRUSEL UNIDADES */
/* Técnica 1: Webkit (Chrome, Safari, Edge) */
.webkitScrollbarHide::-webkit-scrollbar {
  display: none;
}

.webkitScrollbarHide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* CARRUSEL PRECIOS */
.slider {
  display: flex;
  width: calc(145px * 10); /* Double the content for seamless loop */
  color: black;
}

.slide {
  display: flex;
  gap: 5px;
  width: 145px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
