@import "tailwindcss";

:root {
  --background: #e6e5e5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-color-marca: #eb1923;
  --color-color-sec-marca: #babdbf;
  --color-color-fondo-gris: #F0F0F0;

  /* Font family definitions */
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, 
              "Segoe UI", Roboto, "Helvetica Neue", Arial, 
              "Noto Sans", sans-serif, "Apple Color Emoji", 
              "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --font-mono: var(--font-geist-mono); /* Keep your mono font as is */
  
  /* If you need a body font (optional) */
  --font-body: var(--font-sans); /* Reuse sans font or define separately */

  --breakpoint-xs: 375px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.burger {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 25px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  align-items: center;
  margin: auto 15px;
}

@media (max-width: 767px) {
  .burger {
    opacity: 1;
    visibility: visible;
  }
}

.burger .burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 15px;
  background: #fff;
}

.burger .burger-line:nth-child(1) {
  top: 0px;
}

.burger .burger-line:nth-child(2) {
  top: 8px;
  width: 70%;
}

.burger .burger-line:nth-child(3) {
  top: 16px;
}

h1 {
  font-size: 27px;
  line-height: 27px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px;
    line-height: 25px;
  }
}
